#head {

    width: 65%;
    font-size: 30px;
    color: black;
}
#lolz{

    font-size: 19px;
    color: black;
}
.footer{

    bottom: 0;
    background-color: grey;
    text-align: center;
    line-height: 3;
    position: fixed;
    width: 100%;
}
canvas{

    border: 3px solid yellowgreen;
    border-radius: 15px;
}